* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: black;
  max-width: 1332px;
  margin: 0 auto;
}
.header-simple {
  display: flex;
  justify-content: space-between;
  padding: 39px;
}
.header-simple ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
}
.header-div {
  display: flex;
  gap: 24px;
}
.header-simple ul li {
  color: #cecece;
  font-size: 16px;
}
#cart {
  position: relative;
}

#cart::after {
  content: "01";
  position: absolute;
  color: black;
  font-size: 10px;
  padding: 8px;
  background-color: #fff3c7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 2px;
  top: -15px;
  right: -10px;
  border-radius: 50%;
  text-align: center;
}
.header-simple a {
  color: #cecece;
  font-size: 16px;
  text-decoration: none;
}
.header-simple a:hover {
  text-decoration: underline;
  color: #fff3c7;
}

.header-simple h2 {
  color: #fbf7ea;
  font-size: 16px;
  position: relative;
  right: 85px;
}
.header-simple i {
  color: #fcfcfc;
}
.join-section {
  background-image: url(/assets/img/anden\ billede.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  max-width: 1050px;
}
.join-section h1 {
  color: #ffffff;
  font-size: 56px;
  padding-top: 84px;
  text-align: center;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.join-section p {
  color: #fbf7ea;
  font-size: 18px;
  text-align: center;
  align-items: center;
  padding: 32px;
}
.join-section a {
  display: inline-block;
  color: #000000;
  background-color: #fff3c7;
  text-align: center;
  font-size: 16px;
  padding: 13px 68px;
  text-decoration: none;
  border-radius: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 108px;
  text-transform: uppercase;
}
.del-tre {
  background-image: url(/assets/img/billede\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 579px;
  margin: 0 auto;
  text-align: center;
  max-width: 1050px;
}
.del-tre h2 {
  color: #ffffff;
  font-size: 56px;
  padding-top: 262px;
  text-align: center;
  padding-top: 49px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.del-tre p {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  align-items: center;
}
.our-future {
  background-image: url(/assets/img/anden\ billede.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  max-width: 1050px;
}
.our-future p {
  padding-top: 182px;
  font-size: 35px;
  color: #fcf9f9;
  text-align: center;
  align-items: center;
  padding-bottom: 66px;
}
.our-future a {
  display: inline-block;
  color: #000000;
  background-color: #fff3c7;
  text-align: center;
  font-size: 16px;
  padding: 12px 61px;
  text-decoration: none;
  border-radius: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.art-gallery {
  background-image: url(/assets/img/billede\ 3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  max-width: 1050px;
}
.art-gallery h3 {
  padding-top: 215px;
  font-size: 48px;
  color: #fbf7ea;
  text-align: center;
  align-items: center;
  padding-bottom: 18px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.art-gallery a {
  display: inline-block;
  color: #000000;
  background-color: #fff3c7;
  text-align: center;
  font-size: 16px;
  padding: 13px 55px;
  text-decoration: none;
  border-radius: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #030303;
  max-width: 1366px;
  padding: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer h4 {
  color: #fffafa;
  font-size: 24px;
  font-weight: bold;
  padding: 31px;
}
.footer p {
  font-size: 16px;
  color: #fffafa;
  padding: 13px;
  padding-left: 28px;
  line-height: 2rem;
}
.iconer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.iconer {
  background-color: #e05810;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 12px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
