* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

.tickets {
  width: 100%;
}

.header {
  max-width: 1332px;
  margin: 0 auto;
}
.header-simple {
  display: flex;
  justify-content: space-between;
  padding: 39px;
}
.header-simple ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
}
.header-div {
  display: flex;
  gap: 24px;
}
.header-simple ul li {
  color: #cecece;
  font-size: 16px;
}
#cart {
  position: relative;
}

#cart::after {
  content: "01";
  position: absolute;
  color: white;
  padding: 20px;
  background-color: yellow;
  display: block;
  width: 1px;
  height: 1px;
}
.header-simple a {
  color: #cecece;
  font-size: 16px;
  text-decoration: none;
}
.header-simple a:hover {
  text-decoration: underline;
  color: #fff3c7;
}

.header-simple h2 {
  color: #fbf7ea;
  font-size: 16px;
}
.header-simple i {
  color: #fcfcfc;
}
.pay-tickets {
  background-image: url(/assets/img/burning-man-2013\ 111.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  max-width: 1080px;
  min-height: 683px;
  width: 100%;
}
#sale-ticket {
  font-size: 48px;
  color: #dd8706;
  text-align: center;
  padding: 20px;
}
.burning-ticket article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burning-ticket p {
  color: #fcfaf7;
  font-size: 48px;
  font-weight: bold;
  padding-top: 128px;
  padding-right: 139px;
  padding-left: 86px;
}
.burning-ticket h3 {
  color: #fcfaf7;
  padding-right: 139px;
  padding-left: 86px;
  display: flex;
  gap: 35px;
  align-items: center;
}
.pay-tickets a {
  display: inline-block;
  color: #000000;
  background-color: #fff3c7;
  text-align: center;
  font-size: 16px;
  padding: 13px 56px;
  text-decoration: none;
  border-radius: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
}
.map-billeder {
  background-color: #000000;
  max-width: 1131px;
  padding: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 60px;
}
.closer-look {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.closer-look div {
  padding: 28px;
}

.closer-look h4 {
  color: #fcfaf7;
}
.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 177px;
}
.downloads h2 {
  color: #dd8706;
  font-size: 40px;
  padding: 30px;
}
.downloads p {
  color: #fcfaf7;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 25px;
  gap: 41px;
  padding: 20px;
}
